* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

/* NAVBAR */
header {
  background: #020617;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav a {
  margin-left: 20px;
  font-size: 14px;
}

/* SECTION */
section {
  padding: 70px 30px;
  max-width: 1000px;
  margin: auto;
}

h1,
h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 25px;
}

/* GRID PROJECT */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.thumb {
  background: #1e293b;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94a3b8;
  border-radius: 6px;
  margin-bottom: 10px;
}

footer {
  background: #020617;
  text-align: center;
  padding: 20px;
  color: #94a3b8;
  font-size: 14px;
}